@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.Wrapper {
    --wrapper-fontsize: 37px; 
    --wrapper-boxshadow: black;
    --wrapper-gap: 5rem;
    --wrapper-height: 5rem;

    color: white;
    font-size: var(--wrapper-fontsize);
    font-weight: bold;
    box-shadow: 0 10px 20px -10px var(--wrapper-boxshadow);
    gap: var(--wrapper-gap);
    display: flex;
    height: var(--wrapper-height);
    width: 100%;
    align-items: center;
    justify-content: center;

    border-bottom: .1rem solid rgba(240, 240, 240, 0.11);
}

.Wrapper .right-container {
    --rightcontainer-gap: .5rem;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: right;
    gap: var(--rightcontainer-gap);
    position:absolute;
    right: 20px;
}

h1 {
    font-family: 'Oswald', sans-serif;
    z-index: -1;
}

a {
    cursor: pointer;
}

@media only screen and (max-width: 600px) {
    h1{
        left: 0;
        position: fixed;
        margin-left: 10%;
        font-size: 30px;
    }

    .Wrapper .right-container img {
        width: 35px;
    }
}