@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin:0;
  padding:0;
}
html {
  height:100%;
  width:100%;
  margin: 0; 

  overflow: hidden
}

body {
  height:100%;
  width:100%;

  margin: 0;
  overflow:hidden;
}

:root {
  background-color: #181818;
}

#main-page {
  text-align: center;
}
