.guess {
  width: 45vw;
  margin: 20% auto 0 auto;
  display: block;
  border-radius: 5%;
}

.guess-row {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 5px;
  width: 100%;
  margin-top: 5px;
}

.guess-row-cell {
  border: 2px solid rgba(131, 131, 131, 0.438);
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  height: 5vh;
  width: auto;
  color: white;
}

.guess-row-cell[status="on"] {
  border: 2px solid rgb(131, 131, 131);
}

.pulsate-fwd {
  -webkit-animation: pulsate-fwd 0.1s ease-in-out both;
  animation: pulsate-fwd 0.1s ease-in-out both;
}

.correct{
  background-color: rgb(83, 141, 78) !important;
  border: 2px solid rgb(83, 141, 78) !important;
}

.incorrect{
  background-color: rgb(58, 58, 60) !important;
  border: 2px solid rgb(58, 58, 60) !important;
}

.wrongLocation{
  background-color: rgb(181, 159, 59) !important;
  border: 2px solid rgb(181, 159, 59) !important;
}

@-webkit-keyframes pulsate-fwd {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

@keyframes pulsate-fwd {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes shake-horizontal {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70% { transform: translateX(-10px); }
  20%, 40%, 60% { transform: translateX(10px); }
  80% { transform: translateX(8px); }
  90% { transform: translateX(-8px); }
}

@keyframes shake-horizontal {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70% { transform: translateX(-10px); }
  20%, 40%, 60% { transform: translateX(10px); }
  80% { transform: translateX(8px); }
  90% { transform: translateX(-8px); }
}

.flip-vertical-right {
	-webkit-animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: flip-in-ver-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bounce-top {
	-webkit-animation: bounce-top 2s both;
	        animation: bounce-top 2s both;
}


 @-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  93% {
    -webkit-transform: translateY(-4px);
            transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
    opacity: 1;
  }
}


@-webkit-keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
    opacity: 1;
  }
}
@keyframes flip-in-ver-right {
  0% {
    -webkit-transform: rotateY(-80deg);
            transform: rotateY(-80deg);
  }
  100% {
    -webkit-transform: rotateY(0);
            transform: rotateY(0);
  }
}



.guess-row-cell p {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  user-select: none;
}

@media screen and (orientation: landscape) {
  .guess {
      width: 20vw;
      margin-top: 4%;
  }
  .guess-row-cell {
      height: 8vh;
  }
}

@media screen and (max-width: 768px) {
  .guess {
      width: 90vw;
      margin-top: 25%;
  }
  .guess-row {
      grid-template-columns: repeat(5, minmax(40px, 1fr));
      grid-gap: 3px;
  }
  .guess-row-cell {
      height: 17vw;
  }
}

@media screen and (orientation:landscape) {
  .guess {
    margin-top: 6%;
}

}
