.modal {
    --modal-height: 35%;
    --modal-width: 65%;
    --modal-border-radius: 12px;

    /*Animations*/
    justify-content: space-evenly;
    align-items: center;
    box-shadow: rgba(7, 7, 7, 0.3) 0px 7px 29px 0px;
    background-color:#1b1b1b;
    border: .1rem solid rgba(240, 240, 240, 0.055);
    border-radius: var(--modal-border-radius);
    height: var(--modal-height);
    width: var(--modal-width);




    position: absolute;
    

    animation: fadeInUp;
    animation-duration: .5s;

    z-index: 99 !important;
}

.settings-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.301);
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 20px;
    padding-top: 15px;

    display: flex;
}

.email-left {
    width: 50%;
}

.email-right {
    width: 50%;
    text-align: center;
    color: rgba(255, 255, 255, 0.644);
    cursor: pointer;
    padding-top: 10px;
}


.settings-container h2 {
    font-size: 25px;
}

.settings-container p {
    margin-top: -5px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.644);
}



.modal-content {
    margin-top: 3%;

    color: white;
    display: flex;
    flex-direction: column;


}

/* .modal-content h1 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 30px;
} */


.modal-wrapper {
    width: 100%;
    height: 95%;

    margin-top: -7.5%;    

    display: flex; 
    justify-content: center;
    align-items: center;

 

    position: absolute;

}

.modal-backdrop {
    background-color: rgba(0, 0, 0, 0.356);
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

}


.modal-title img {
    cursor: pointer;

    position:absolute;
    right: 20px;
}

.modal-title {
    font-size: 30px;
    text-align: center;
    justify-content: center;
    padding-bottom: 30px;
    display: flex;

    position: relative;
}



@media only screen and (max-width: 600px) {
    .modal {
        width: 100%;
        height: 60%;

        bottom: 0;
    }

   .modal-title {
    margin-bottom: 8%;
   }

    .modal-content {
        gap: 0px;
    }
    .settings-container h2{
        font-size: 25px;
    }

    .settings-container{

    }

    .settings-container p{
        display: none;
    }

    .email-right {
        padding-top: 0;
    }
 
}